{% extends "./base.html" %} {% block title %}{{ paste.url }}{% endblock %} {%
block head %}
<link rel="icon" href="/static/favicon.svg" />
{% endblock %} {% block content %}
<div class="card round">
    <p>Please enter this paste's view password to continue:</p>

    <form class="card secondary round flex gap-2">
        <input
            type="text"
            required
            placeholder="View Password"
            name="view_password"
            id="view_password"
            class="w-max"
        />
        <button class="round">Submit</button>
    </form>
</div>
{% call super() %} {% endblock %}
