{% extends "./base.html" %} {% block head %}
<meta property="og:title" content="{{ paste.url }}" />

{{ head_stuff|safe }} {% endblock %}{% block content %}
<div class="flex flex-col w-full h-full gap-2">
    <div class="card more_padding round min-h-[15rem]" id="tab_container">
        {{ rendered|safe }}
    </div>

    <div class="flex w-full gap-2 justify-between">
        <div class="flex gap-2">
            {% if paste.metadata.template == "@" %}
            <button
                class="theme:primary round"
                onclick="trigger('markdown:use_template', ['{{ paste.url }}'])"
            >
                Use Template
            </button>
            {% endif %}

            <a href="/{{ paste.url }}/edit" class="button round">Edit</a>
        </div>

        <div class="flex flex-col items-end g-1 opacity-75">
            <span>
                Pub:
                <span class="date-time-to-localize">
                    {{ paste.date_published }}
                </span>
            </span>

            <span>
                Edit:
                <span class="date-time-to-localize">
                    {{ paste.date_edited }}
                </span>
            </span>

            <!-- prettier-ignore -->
            {% if !base.guppy_root.is_empty() && !paste.metadata.owner.is_empty() %}
            <span>
                Owner:
                <a
                    href="{{ base.guppy_root }}/{{ paste.metadata.owner }}"
                    target="_blank"
                >
                    <!-- TODO: show owner nickname -->
                    {{ paste.metadata.owner }}
                </a>
            </span>
            {% endif %}

            <span>Views: {{ views }}</span>
        </div>
    </div>
</div>

<link
    rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css"
/>

<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>

<script>
    use("markdown", (markdown) => {
        use("bundled_env", (bundled_env) => {
            markdown.fix_markdown("tab_container");
        });
    });

    globalThis._app_base.secret = {
        type: "note-info",
        title: "Edit Code",
    };
</script>

<dialog id="template_dialog" class="animate-fade-in">
    <div style="width: 25rem; max-width: 100%" class="p-4">
        <div class="flex flex-col gap-2">
            <form id="template_form">
                <div class="gap-2 flex flex-col mb-2">
                    <input
                        name="url"
                        id="url"
                        placeholder="Custom URL"
                        class="small"
                    />

                    <input
                        name="password"
                        id="password"
                        placeholder="Password"
                        class="small"
                    />
                </div>

                <!-- submit -->
                <button class="round mb-2 green">Publish</button>
            </form>
        </div>

        <hr class="my-4" />

        <div class="w-full flex justify-end gap-2">
            <a
                class="button round red"
                href="javascript:document.getElementById('template_dialog').close();"
            >
                Close
            </a>
        </div>
    </div>
</dialog>
{% call super() %} {% endblock %}
