{% extends "../footer_base.html" %}

{% block title %}{{ custom_url }}{% endblock %}
{% block main_stuff %}class="small flex flex-column g-4 align-center"{% endblock %}

{% block content %}
<div class="card secondary round border" style="width: 25rem;" id="forms">
    <h2 class="no-margin text-center full">{{ custom_url }}</h2>

    <hr />

    <form class="full flex flex-column g-4" id="login-to-paste">
        <label for="view"><b>View Password</b></label>

        <input type="text" name="view" id="view" placeholder="Paste View Password" class="full round" maxlength="256" />

        <hr />

        <button class="theme:primary full round">
            Continue
        </button>
    </form>
</div>
{% call super() %}
{% endblock %}