{% extends "../toolbar_base.html" %}

{% block title %}Paste Settings - {{ site_name }}{% endblock %}

{% block content %}
<main class="flex flex-column g-4 small">
    <h2 class="full text-center">Paste Settings</h2>

    <div class="card round secondary flex flex-column g-4">
        <div class="flex full justify-space-between">
            <div class="flex g-4">
                <form action="/api/v1/metadata" id="update-form">
                    <button class="green round secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-save">
                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z" />
                            <polyline points="17 21 17 13 7 13 7 21" />
                            <polyline points="7 3 7 8 15 8" />
                        </svg>
                        Save
                    </button>
                </form>

                <button class="secondary round" id="add_field">Add Field</button>
            </div>

            <a href="/{{ paste.custom_url }}" class="button round secondary">Cancel</a>
        </div>

        <div id="options-field" class="flex flex-wrap mobile:flex-column g-4 full justify-space-between"></div>
    </div>

    <script id="metadata" type="application/json">
        {{ metadata|safe }}
    </script>

    <script type="module">
        import { paste_settings } from "/static/js/SettingsEditor.js";
        paste_settings(JSON.parse(document.getElementById("metadata").innerHTML), "{{ paste.custom_url }}", document.getElementById("options-field"));
    </script>
</main>
{% endblock %}