{% extends "../../toolbar_base.html" %}

{% block title %}Dashboard - {{ site_name }}{% endblock %}
{% block main_stuff %}style="overflow: hidden; max-height: 100%;"{% endblock %}

{% block content %}
<div id="link-header" style="display: flex;" class="flex-column bg-1">
    <div class="link-header-top"></div>

    <div class="link-header-middle">
        <h1 class="no-margin">Dashboard</h1>
    </div>

    <div class="link-header-bottom">
        <a href="/dashboard" class="button">Home</a>
        <a href="/dashboard/pastes" class="button">Pastes</a>
        <a href="/dashboard/atomic" class="button active">Atomic</a>
        <a href="{{ puffer }}/d" class="button">Boards</a>
    </div>
</div>

<main class="flex align-center flex-column g-4 small">
    <div class="card secondary round border" style="width: 25rem;" id="forms">
        <div id="error" class="mdnote note-error full" style="display: none;"></div>
        <form class="full flex flex-column g-4" action="/api/auth/register" id="create-site">
            <label for="custom_url"><b>Custom URL</b></label>

            <input type="text" name="custom_url" id="custom_url" placeholder="Custom URL" class="full round"
                minlength="4" maxlength="32" required="true" />

            <hr />

            <button class="theme:primary full round">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-plus">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                Create Site
            </button>
        </form>
    </div>

    <script type="module">
        import "/static/js/NewAtomic.js";
    </script>
</main>
{% endblock %}