{% extends "../../toolbar_base.html" %}

{% block title %}{{ custom_url }} - {{ site_name }}{% endblock %}
{% block main_stuff %}style="overflow: hidden; max-height: 100%;"{% endblock %}

{% block content %}
<div id="link-header" style="display: flex;" class="flex-column bg-1">
    <div class="link-header-top"></div>

    <div class="link-header-middle">
        <h1 class="no-margin">{{ custom_url }}</h1>
    </div>

    <div class="link-header-bottom">
        <a href="/dashboard" class="button">Home</a>
        <a href="/dashboard/pastes" class="button">Pastes</a>
        <a href="/dashboard/atomic" class="button active">Atomic</a>
        <a href="{{ puffer }}/dashboard" class="button">Boards</a>
    </div>
</div>

<main class="flex flex-column g-4 small">
    <div id="error" class="mdnote note-error full" style="display: none;"></div>
    <div id="success" class="mdnote note-note full" style="display: none;"></div>

    <div id="custom_url" style="display: none;">{{ custom_url }}</div>

    <form class="flex justify-center align-center g-4">
        <input type="text" placeholder="/index.(html|css|js)" name="path" class="round full" minlength="4" />
        <button class="round theme:primary" style="min-width: max-content;">Open</button>
    </form>

    <table class="full stripped">
        <thead>
            <tr>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for p in files.iter() %}
            <tr>
                <td><a href="?path={{ p.path }}">{{ p.path }}</a></td>

                <td class="flex g-4 flex-wrap">
                    <a class="button secondary round no-shadow" href="?path={{ p.path }}" title="Edit File">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-file-pen-line">
                            <path d="m18 5-3-3H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
                            <path d="M8 18h1" />
                            <path d="M18.4 9.6a2 2 0 1 1 3 3L17 17l-4 1 1-4Z" />
                        </svg>
                    </a>

                    <button class="secondary round action:more-modal no-shadow" data-suffix="{{ custom_url }}{{ p.path }}"
                        title="More Options">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-wrench">
                            <path
                                d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
                        </svg>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr />

    <h6 class="no-margin">Paste Options</h6>

    <table class="full stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Use</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>View</td>
                <td>
                    <a class="button round secondary no-shadow" target="_blank" href="/{{ custom_url }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-circle-play">
                            <circle cx="12" cy="12" r="10" />
                            <polygon points="10 8 16 12 10 16 10 8" />
                        </svg>
                        Run
                    </a>
                </td>
            </tr>

            <tr>
                <td>Delete</td>
                <td>
                    <button class="round secondary no-shadow" id="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-circle-play">
                            <circle cx="12" cy="12" r="10" />
                            <polygon points="10 8 16 12 10 16 10 8" />
                        </svg>
                        Run
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <dialog id="more-modal">
        <div style="width: 25rem; max-width: 100%;">
            <h2 class="no-margin full text-center">More Options</h2>

            <hr />
            <div id="more-modal-actions" class="flex flex-column g-4"></div>
            <hr />

            <div class="full flex justify-right">
                <a class="button round red" href="javascript:document.getElementById('more-modal').close();">
                    Close
                </a>
            </div>
        </div>
    </dialog>

    <script type="module">
        import "/static/js/AtomicOverview.js";
    </script>
</main>
{% endblock %}