/* https://codeberg.org/hkau/fusion */
@import url("./css/fusion.css");

.tab-container {
    background: var(--background-surface1);
    transition: background 0.15s;
    padding: 1.5rem !important;
    height: 78dvh;
    overflow-y: auto;
    max-height: 90vh;
    margin-bottom: 0.5rem;
    max-width: 100vw;
    min-height: 15rem;
}

.tabbar button:not(.full-normal),
.tabbar .button:not(.full-normal) {
    border-radius: var(--u-02) var(--u-02) 0 0;
}

@media screen and (max-width: 900px) {
    .tab-container {
        max-height: 65vh;
        padding: 1rem;
    }
}

.-editor:not(.active) {
    display: none;
}

#editor-tab-preview h1 {
    width: 100%;
}

/* colors */
:root {
    /* default colors (light) */
    --base-hue: 0;
    --base-sat: 0%;
    --base-lit: 92%;

    --mod: -;
    --diff: 9%;

    /* main colors */
    --primary: hsl(0, 100%, 80%);
    --primary-low: hsl(0, 100%, 76%);

    --secondary: hsl(41, 100%, 62%);
    --secondary-low: hsl(41, 100%, 58%);
}

.dark-theme {
    /* default colors (dark) */
    --base-hue: 0;
    --base-sat: 0%;
    --base-lit: 15%;

    --mod: +;
    --diff: 0%;
}

*.round {
    border-radius: var(--u-02) !important;
}

/* svg */
svg {
    fill: transparent;
    stroke: currentColor;
}

/* button modifications */
button,
.button {
    padding: var(--u-02) var(--u-08);
    height: 35px !important;
    min-height: 35px;
    user-select: none;
}

button.border,
.button.border {
    box-shadow: 0 0 0 1px var(--background-surface2a);
}

button.bundles-primary,
.button.bundles-primary {
    background: var(--primary);
    color: black;
}

button.bundles-primary:hover,
.button.bundles-primary:hover {
    background: var(--primary-low);
}

button.bundles-secondary,
.button.bundles-secondary {
    background: var(--secondary);
    color: white;
}

button.bundles-secondary:hover,
.button.bundles-secondary:hover {
    background: var(--secondary-low);
}

/* input modifications */
button + input,
.button + input {
    height: 35px !important;
    min-height: 35px;
}

input + button,
input + .button {
    height: 40px !important;
    min-height: 40px;
}

/* details */
details {
    border-radius: var(--u-02);
}

details[open] {
    border-radius: var(--u-02) var(--u-02) 0 0 !important;
}

details summary {
    background: transparent;
    border: none;
    border-radius: var(--u-02) !important;
}

details.border {
    border: solid 1px var(--background-surface2a);
}

details[open].border summary {
    border-bottom: solid 1px var(--background-surface2a);
}

details summary svg {
    transition: transform 0.15s;
}

details[open] summary svg {
    transform: rotate(90deg);
}

details[open] summary {
    background: var(--background-surface1);
    box-shadow: none;
    margin-bottom: 0 !important;
    border-radius: var(--u-02) var(--u-02) 0 0 !important;
}

details summary + .content {
    display: none;
}

details[open] summary + .content {
    border: solid 1px var(--background-surface2a);
    border-top: none;
    padding: var(--u-08);
    border-radius: 0 0 var(--u-02) var(--u-02);
    display: block;
}

/* hr */
hr {
    border-color: var(--background-surface2a) !important;
}

/* input */
input,
textarea,
select {
    background: var(--background-surface) !important;
    border: solid 1px var(--background-surface2a);
}

input.round,
textarea.round,
select.round {
    border-radius: var(--u-02) !important;
}

input:focus,
textarea:focus,
select:focus {
    background: var(--background-surface0-5) !important;
}

/* notes */
.mdnote {
    border-radius: var(--u-02) !important;
}

/* chips */
.chip.mention {
    border-radius: var(--u-02);
    background: var(--background-surface2a);
    border: solid 1px var(--background-surface2);
    color: var(--text-color);
}

/* context menu */
.context-menu .flex.flex-column.g-4 hr {
    margin: 0 !important;
}

/* utility */
.position\:relative {
    position: relative;
}

/* ... */
.editor-tab p {
    text-align: inherit;
}

/* ... */
[role="custom-color"] * {
    color: inherit !important;
}

[role="spoiler"] {
    --hidden-color: var(--background-surface2);
    --active-color: var(--background-surface2a);
    padding: 0 var(--u-02);
    background: var(--hidden-color);
    border-radius: var(--u-02);
    color: transparent;
    transition: all 0.15s;
    box-shadow: none;
}

[role="spoiler"]:hover,
[role="spoiler"]:active,
[role="spoiler"]:focus {
    background: var(--active-color);
    color: inherit;
}

.dark-theme [role="spoiler"] {
    --hidden-color: var(--background-surface);
    --active-color: var(--background-surface1a);
}

/* https://code.stellular.org/hkau/celestial/src/branch/master/assets/style.css - MIT licensed */
/* sidebar */
.sidebar {
    width: 325px;
    background: var(--background-surface);
    border-right: solid 1px var(--background-surface2a);
    bottom: 0;
    top: unset;
}

.sidebar.open {
    left: 0;
}

@media screen and (max-width: 900px) {
    .sidebar {
        width: 100%;
    }
}

/* toolbar */
:root {
    --toolbar-nav-height: 37.8px;
}

.toolbar {
    width: 100%;
    height: var(--toolbar-nav-height);
    padding: 0;
    border-bottom: solid 1px var(--background-surface2a);
}

.toolbar button,
.toolbar .button,
.toolbar span {
    padding: var(--u-10);
}

.toolbar button,
.toolbar .button {
    height: var(--toolbar-nav-height) !important;
    display: flex;
    justify-content: center;
    background: transparent;
    border-left: solid 1px var(--background-surface2a);
    border-right: solid 1px var(--background-surface2a);
}

.toolbar button:hover,
.toolbar .button:hover {
    background: var(--background-surface1a);
}

.toolbar button:hover *,
.toolbar .button:hover * {
    justify-content: center;
    align-items: center;
}

.toolbar-layout-wrapper {
    max-height: calc(100dvh - var(--toolbar-nav-height));
    overflow-y: auto;
}

/* link header */
#link-header {
    padding: 0 calc(var(--u-10) * 4);
    margin: 0 0 2rem 0;
}

@media screen and (max-width: 900px) {
    #link-header {
        padding: 0 var(--u-10);
    }
}

#link-header .link-header-middle {
    padding: calc(var(--u-10) * 2) 0;
}

#link-header .link-header-bottom {
    display: flex;
}

#link-header .link-header-bottom .button {
    border-top-left-radius: var(--u-02);
    border-top-right-radius: var(--u-02);
}

#link-header .link-header-bottom .button.active {
    background: var(--background-surface);
    box-shadow: none !important;
}

/* messages */
.message {
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    padding: var(--u-08);
    background: var(--background-surface0-5);
    transition:
        background 0.15s,
        border-left-color 0.1s;
}

.message p {
    margin-bottom: 0 !important;
}

.message:hover {
    background: var(--background-surface1);
    border-left-color: var(--green3);
}

.message.reply:hover {
    border-left-color: var(--blue2);
}

.message.pinned:hover {
    border-left-color: var(--primary);
}

.message .chip.mention {
    /* author tag */
    user-select: none;
}

/* footer */
.__footernav {
    display: flex;
    gap: 0.75rem;
}

.__footernav .item {
    position: relative;
    margin-left: 0.5rem;
}

.__footernav .item::before {
    content: "·";
    position: absolute;
    left: -0.75rem;
}

.__footernav .item:first-child:before {
    display: none;
}

/* more highlight.js styles */
.hljs-tag,
.hljs-number {
    color: var(--yellow);
}

.hljs-type {
    color: var(--green3);
}

.hljs-built_in {
    color: var(--blue2);
}

/* code */
pre {
    padding: var(--u-08);
    border-radius: var(--u-04);
}

/* heading anchors */
.anchor {
    display: block;
    width: 100%;
    height: 100%;
}
