{% extends "base.html" %}

{% block base_content %}
<!-- page content -->
<div id="_page" style="display: contents;">
    <main class="flex flex-column justify-space-between" {% block container_stuff %}{% endblock %}>
        <div id="_footer_base_page" {% block main_stuff %}{% endblock %}>
            {% block content %}{% endblock %}
        </div>

        <!-- footer -->
        <footer class="flex justify-center align-center flex-column full" {% block footer_stuff %}{% endblock %}>
            <hr class="small" />

            <style>
                footer hr.small {
                    margin: 1rem 0 0.4rem 0;
                    width: 425px;
                    max-width: 100%;
                }
            </style>

            <div class="footernav" style="padding: 0; margin: 0;">
                <div class="item">
                    <a href="{{ info }}" class="flex align-center g-4">
                        info
                    </a>
                </div>

                <div class="item">
                    <a href="/dashboard/settings" class="flex align-center g-4">
                        settings
                    </a>
                </div>

                {% if auth_state == false %}
                <div class="item">
                    <a href="/" class="flex align-center g-4">
                        new
                    </a>
                </div>

                {% if guppy != "" %}
                <div class="item">
                    <a href="{{ guppy }}/flow/auth/register" class="flex align-center g-4" data-wants-redirect="true">
                        register
                    </a>
                </div>

                <div class="item">
                    <a href="{{ guppy }}/flow/auth/login" class="flex align-center g-4" data-wants-redirect="true">
                        login
                    </a>
                </div>
                {% endif %}
                {% else %}
                <div class="item">
                    <a href="/dashboard" class="flex align-center g-4">
                        dashboard
                    </a>
                </div>

                <div class="item">
                    <a href="/api/v1/auth/logout" class="flex align-center g-4">
                        logout
                    </a>
                </div>
                {% endif %}
            </div>

            <p style="font-size: 12px; margin: 0.4rem 0 0 0;">
                <a href="https://code.stellular.org/stellular/crangon">{{ site_name }}</a>
                - Markdown Platform
            </p>

            <!-- theme -->
            <div style="position: relative; width: 100%;">
                <div style="position: absolute; bottom: 8px; right: 0;">
                    <a id="theme_button" href="javascript:window.toggle_theme()" title="Toggle Theme"
                        style="color: var(--text-color-faded); display: block;">
                        <div id="theme-icon-sun">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-sun">
                                <circle cx="12" cy="12" r="4" />
                                <path d="M12 2v2" />
                                <path d="M12 20v2" />
                                <path d="m4.93 4.93 1.41 1.41" />
                                <path d="m17.66 17.66 1.41 1.41" />
                                <path d="M2 12h2" />
                                <path d="M20 12h2" />
                                <path d="m6.34 17.66-1.41 1.41" />
                                <path d="m19.07 4.93-1.41 1.41" />
                            </svg>
                        </div>

                        <div id="theme-icon-moon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-moon">
                                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </main>
</div>
{% endblock %}