{% extends "../toolbar_base.html" %}

{% block title %}Dashboard - {{ site_name }}{% endblock %}
{% block main_stuff %}style="overflow: hidden; max-height: 100%;"{% endblock %}

{% block content %}
<div id="link-header" style="display: flex;" class="flex-column bg-1">
    <div class="link-header-top"></div>

    <div class="link-header-middle">
        <h1 class="no-margin">Dashboard</h1>
    </div>

    <div class="link-header-bottom">
        <a href="/dashboard" class="button active">Home</a>
        <a href="/dashboard/pastes" class="button">Pastes</a>
    </div>
</div>

<main class="small flex flex-column g-4">
    <div class="mdnote note-info dismissable" id="dismissable:login_code">
        <div class="flex justify-space-between align-center flex-wrap g-4">
            <b class="mdnote-title">Everything here requires your account!</b>
            <button class="dismiss round secondary">Ok</button>
        </div>

        <p>Please verify that you have access to your account login code.</p>
    </div>

    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>Pastes</b>

        <a class="button theme:primary round" href="/dashboard/pastes">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>

    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>My Profile</b>

        <a class="button theme:primary round" href="{{ guppy }}/{{ user.username }}">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>

    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>Account Settings</b>

        <a class="button theme:primary round" href="{{ guppy }}/{{ user.username }}/settings">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>

    <div class="card secondary round flex justify-space-between align-center g-4">
        <b>Site Settings</b>

        <a class="button theme:primary round" href="/dashboard/settings">
            Go
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>
</main>
{% endblock %}